.filters {
  background-color: #fff;
  height: 70px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.filters button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #fff;
  height: 48px;
  width: 20%;
  border: 0;
  border-radius: 4px;
  margin-inline: auto 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 1rem;
}

.filters button:hover {
  opacity: 0.9;
}

.locations,
.amenities {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-inline: 2rem;
}

:is(.locations, .amenities):hover .popover {
  display: block;
}

.locations {
  border-inline-end: 1px solid #ddd;
}

:is(.locations, .amenities) h3 {
  font-weight: 600;
}

:is(.locations, .amenities) h4 {
  font-weight: 400;
  font-size: 14px;
}

:is(.locations, .amenities):is(:hover) .popover {
  display: block;
}

.popover {
  margin: 0;
  padding: 0;
  display: none;
  background-color: #fafafa;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  list-style: none;
  position: absolute;
  inset-block-start: 68px;
  inset-inline-start: 0;
}

.popover > li {
  padding: 0;
  margin-inline-start: 30px;
  margin-block: 15px;
}

.popover p {
  margin: 0;
  padding: 0;
  margin-inline-start: 20px;
}

.popover h2 {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
